body {
  text-align: center;
  background: url('https://www.toptal.com/designers/subtlepatterns/patterns/geometry.png');
  padding:  0;
  margin:  0;
}

.player-names {
    font-size: 22px;
    background: #f3f3f3;
    border-radius: 50px;
}

.main {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.finger-count span {
    display: none !important;
}

.gamestats {
    position: relative;
    box-sizing: border-box;
    width: 150px;
    border: solid 2px #00BCD4;
    background: rgba(0, 188, 212, 0.1);
    font-size: 14px;
    text-align: center;
    padding: 5px 10px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 30px;
}

#whosturn, #totalfingercount {
}

#player-left {
    display: inline-block;
    width: 120px;
    height: 135px;
    background-image: url('../img/hands-ui-sprite.png');
    background-position: top;
    background-position-x: 0px;
    background-position-y: -174px;
}
#player-left.open {
    height: 154px;
    background-position-x: 0px;
    background-position-y: 0px;
}

#player-right {
    display: inline-block;
    width: 120px;
    height: 135px;
    background-image: url(../img/hands-ui-sprite.png);
    background-position: top;
    background-position-x: -170px;
    background-position-y: 156px;
}

#player-right.open {
    height: 154px;
    background-position-x: -171px;
    background-position-y: 0px;
}

#com-left {
    transform: rotate(-180deg) scale(0.5);
    display: inline-block;
    width: 120px;
    height: 135px;
    background-image: url(../img/hands-ui-sprite.png);
    background-position: top;
    background-position-x: 150px;
    background-position-y: -174px;
}
#com-left.open {
    height: 154px;
    background-position-x: 158px;
    background-position-y: 0px;
}

#com-right {
    transform: rotate(-180deg) scale(0.5);
    display: inline-block;
    width: 120px;
    height: 135px;
    background-image: url(../img/hands-ui-sprite.png);
    background-position: top;
    background-position-x: 0px;
    background-position-y: 156px;
}

#com-right.open {
    height: 154px;
    background-position-x: 0px;
    background-position-y: 0px;
}

.speech-player {
    display: none;
    border: 4px solid #04a9f4;
    left: 10px;
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    background: #04a9f4;
    top: -25px;
    position: relative;
}
.speech-cpu {
    display: none;
    border: 4px solid #04a9f4;
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    background: #04a9f4;
    bottom: 118px;
    position: relative;
    left: 130px;
}

.shoutout-container {
    display: inline-block;
    width: 150px;
    height: 80px;
    border: 5px solid #a2e1fd;
    border-radius: 50px;
    background: #04a9f4;
    color: #fff;
    margin-bottom: 10px;
}

#shoutout {
	margin-top: 10px;
}

.player-hands {
    transform: scale(0.7);
}

.status {
    display: inline-block;
    position: absolute;
    right: calc(50% - 130px);
}

.status span {
    border-radius: 20px;
}

#whosturn span {
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
}