/** {
    box-sizing: border-box;
}*/
.noselect, a {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

body {
  text-align: center;
  background: url('https://www.toptal.com/designers/subtlepatterns/patterns/geometry.png');
  padding:  0;
  margin:  0;
}

.gameplay {
    box-sizing: border-box;
    height: 100vh;
}

.player-names {
    font-size: 22px;
    background: #efefef;
    border-radius: 50px;
    position: absolute;
    width: 100%;
    margin: 0;
}

.player-names.com {
    top: 5px;
}

.player-names.player {   
    bottom: 5px;
}

.player-names.playing:after{
    content: '►';
    position: absolute;
    left: 5px;
    background: #dd14ff;
    color: #dd14ff;
    padding: 0px;
    font-size: 14px;
    border-radius: 20px;
    height: 25px;
    width: 25px;
    margin-top: 4px;
    border: 2px solid #fff;
}

a.btn.btn-block.btn-call {
    padding: 15px 7%;
    background: #b9b9b9;
    color: #fff;
}

.main {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.finger-count span {
    display: none !important;
}
/*
.gamestats {
    position: relative;
    box-sizing: border-box;
    border: solid 2px #00BCD4;
    background: rgba(0, 188, 212, 0.1);
    font-size: 14px;
    text-align: center;
    padding: 5px 10px;
    margin: 0 auto;
    margin-top: 45px;
    margin-bottom: 0;
    border-radius: 30px;
}
*/

.gamestats.turns {
    position: absolute;
    border-radius: 50px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-left: 0;
    display: block;
    background: #2196F3;
    color: #ffffff;
    top: 50%;
    right: 0;
    width: 60px;
    padding: 5px 10px;
    padding-right: 5px;
    font-size: 13px;
    line-height: 13px;
}

.finger-count {
    font-size: 0;
}

#whosturn {
    display: none;
}

#player-left {
    display: inline-block;
    width: 120px;
    height: 135px;
    background-image: url('../img/hands-ui-sprite.png');
    background-position: top;
    background-position-x: 0px;
    background-position-y: -174px;
}
#player-left.open {
    height: 154px;
    background-position-x: 0px;
    background-position-y: 0px;
}

#player-right {
    display: inline-block;
    width: 120px;
    height: 135px;
    background-image: url(../img/hands-ui-sprite.png);
    background-position: top;
    background-position-x: -170px;
    background-position-y: 156px;
}

#player-right.open {
    height: 154px;
    background-position-x: -171px;
    background-position-y: 0px;
}

#com-left {
    transform: rotate(-180deg) scale(0.5);
    display: inline-block;
    width: 120px;
    height: 135px;
    background-image: url(../img/hands-ui-sprite.png);
    background-position: top;
    background-position-x: 150px;
    background-position-y: -174px;
}
#com-left.open {
    height: 154px;
    background-position-x: 158px;
    background-position-y: 0px;
}

#com-right {
    transform: rotate(-180deg) scale(0.5);
    display: inline-block;
    width: 120px;
    height: 135px;
    background-image: url(../img/hands-ui-sprite.png);
    background-position: top;
    background-position-x: 0px;
    background-position-y: 156px;
}

#com-right.open {
    height: 154px;
    background-position-x: 0px;
    background-position-y: 0px;
}

.speech-player {
    display: none;
    border: 4px solid #04a9f4;
    left: 10px;
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    background: #04a9f4;
    top: -25px;
    position: relative;
}
.speech-cpu {
    display: none;
    border: 4px solid #04a9f4;
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    background: #04a9f4;
    bottom: 118px;
    position: relative;
    left: 130px;
}

.shoutout-container {
    display: block;
    width: 30%;
    border: 5px solid #a2e1fd;
    border-radius: 50px;
    background: #04a9f4;
    color: #fff;
    position: absolute;
    top: 40%;
    left: calc(50% - 15%);
}

.com-hands.row {
    display: block;
    height: 150px;
    position: absolute;
    top: 45px;
    width: 100vw;
}

.player-hands.row {
    display: block;
    position: absolute;
    margin: 0 auto;
    bottom: 2%;
    width: 100vw;
    height: 180px;
}

#shoutout {
	margin-top: 10px;
}

.player-hands {
    transform: scale(0.85);
}

.status {
    display: inline-block;
    position: absolute;
    left: calc(50% + 35px);
    top: 0;
}

.status span {
    border-radius: 20px;
}

#whosturn span {
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.call {
    position: absolute;
    width: 100vw;
    top: calc(50% + 13%);
}

a.computer-calls {
    display: none;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0%);
}
/*

*/
.intro {
    position: fixed;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding-top: 10%;
    background: url(https://www.toptal.com/designers/subtlepatterns/patterns/sun-pattern.png);
}

.intro .container {
    margin: 0 auto;
    padding: 15px;
}

.intro .container h1{
    margin-bottom: 2em;
    font-weight: 100;
    font-family: 'Monoton', cursive;
}

#startgame-btn, .big-btn{
    font-size: 30px;
    padding: 15px 20px;
    border: solid 4px #a5dcf5;
    border-radius: 45px;
    font-weight: 800;
    color: #fff;
    background: #03A9F4;

}

section.win-state {
    display: none;
    background: #FFEB3B;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

section.win-state.active {
    display: block;
}


.win-box {
    padding: 15px;
    margin-top: 15%;
}